@import "../../styles/variables";

.dropDown {
  position: absolute;
  top: 3.5rem;
  left: 0;

  width: 100%;

  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  opacity: 1;
  transition: 0.3s ease-out;
  .headerLinks,
  .orderButton {
    display: block;
  }
  .headerLinks {
    margin-bottom: 2vh;
  }
  .dropDownInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: $lightGray;
    width: 100%;
    padding: 3vh 0;
    border-bottom: 2px solid $baseGreen;
  }
}
.hideMenu {
  opacity: 0;
  left: -100%;
}

@media screen and (min-width: 768px) {
  .dropDown {
    display: none;
  }
}
