@import "../../styles/variables";

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    font-size: 18px;
    color: $baseGreen;
    background-color: transparent;
    margin-top: 1rem;
  }
}
