@use "./reset.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

a {
  text-decoration: none;
  color: $darkGray;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.247);
  transition: 0.3s;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}
.coloredText {
  color: $baseGreen;
}
