@import "../../styles/variables";

.explain {
  text-align: justify;
  max-width: 1280px;
  padding: 1rem 1rem;
  width: 95%;
  margin: 0 auto;
  margin: 3rem 0;
  color: $darkGray;
  border-top: 3px solid $baseGreen;
  border-bottom: 3px solid $baseGreen;
  h3,
  p {
    display: inline;
  }
  h3 {
    font-size: 18px;
  }
  p {
    line-height: 18px;
    font-size: 16px;
  }
  .readMore {
    background-color: transparent;
    color: $baseGreen;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
  }
}

.close {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .explain {
    margin: 5rem 0;
    padding: 1rem 0;
    h3 {
      display: inline;
      font-family: "Merriweather Sans", sans-serif;
      font-weight: bold;
      font-size: 20px;
    }
    p {
      line-height: 23px;
      font-size: 18px;
    }
  }
}
