@import "../../styles/variables";

footer {
  position: absolute;
  bottom: 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $lightGray;
  padding: 2vh 0;
  border-top: 2px solid $baseGreen;
  width: 100%;
  box-shadow: 0 -4px 10px 0 $darkGray;
  color: $darkGray;
  .headerLinks,
  .orderButton {
    display: block;
  }
  .headerLinks {
    margin: 0;
  }
  .orderButton {
    margin-bottom: 2.5vh;
  }
  .socialIcons {
    margin: 2vh 0;
  }
}
