@import "../../styles/variables";

.orderButton {
  background-color: $baseGreen;
  width: 150px;
  height: 2rem;
  font-size: 1rem;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 768px) {
  .orderButton {
    display: none;
  }
}
